// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 15px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 50px;
		height: 50px;
		background: $garkGreenColor;



		._spoller-init & {
			cursor: pointer;

			&::before,
			&::after {
				content: "";
				position: absolute;
				// right: toRem(26);
				// top: 50%;
				background-color: #000;
				height: 2px;
				width: 9px;
				transition: transform 0.5s ease 0s;

				@media (max-width: toEm(660)) {
					// top: 20%;
				}
			}

			&::before {
				transform: translate(-75%, -50%) rotate(40deg);
			}

			&::after {
				transform: translate(0, -50%) rotate(-40deg);
			}

			&._spoller-active {

				color: $garkGreenColor;

				&::before,
				&::after {
					background-color: $mainColor;
					display: none;
				}

				&::before {
					transform: translateX(-75%) rotate(-40deg);
				}

				&::after {
					transform: rotate(40deg);
				}
			}

			/*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: toRem(12);
				height: toRem(1);
				transition: all 0.3s ease 0s;
				width: toRem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: toRem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
		}
	}
}

// Спойлер
.spollers__item {
	overflow: hidden;
	// font-size: toRem(20);
	@include adaptiveValue("border-radius", 35, 30);
}

// Заголовок спойлера
.spollers__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	cursor: default;
	text-align: left;
	position: relative;
	list-style: none;

	font-size: toRem(20);
	font-weight: 600;
	line-height: 140%;
	color: $mainColor;

	padding-top: toRem(30);
	padding-bottom: toRem(30);
	@include adaptiveValue("padding-left", 30, 15);
	@include adaptiveValue("padding-right", 30, 15);

	@media (max-width:$mobile) {
		font-size: toRem(18);
	}

	&::marker,
	&::-webkit-details-marker {
		display: none;
	}



}

// Контент спойлера
.spollers__body {
	// padding: toRem(20);
	// padding-left: 2px;
	// @include adaptiveValue("padding-top", 36, 27);
	background: $whiteColor;


	padding-bottom: toRem(30);
	@include adaptiveValue("padding-left", 30, 15);
	@include adaptiveValue("padding-right", 30, 15);

	@media (max-width:$mobile) {
		// padding-left: 0;
	}
}