//<FORM>
// Сниппет (HTML):
.form {
	&__row {
		display: flex;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		width: 100%;
		justify-content: space-between;
		@include adaptiveValue("gap", 30, 15);

		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}

	&__column {}

	&__item {
		width: 100%;

		&_text {
			grid-column: span 4;


		}

	}

	&__input {}


	&__error {}
}


//</FORM>

// <BUTTONS>
// Сниппет (HTML): btn
// @import "button";

// <INPUTS>
// Сниппет (HTML): inp
@import "input";

// <CHECK>
// Сниппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сниппет (HTML): opt
// @import "radio";

// <SELECT>
// Сниппет (HTML): sel
@import "select";

// <RATING>
// Сниппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сниппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сниппет (HTML):
// @import "range";

// <CALENDAR>
// Сниппет (HTML):
// @import "datepicker";