.form {
	&__row {
		display: grid;
		width: 100%;
		@include adaptiveValue("gap", 30, 15);

		&_about {
			grid-template-columns: repeat(4, 1fr);

			@media (max-width: toEm(1075)) {
				grid-template-columns: 1fr 1fr;
			}

			@media (max-width:$mobileSmall) {
				grid-template-columns: auto;
			}
		}

		&_contacts {
			grid-template-columns: repeat(6, 1fr);

			.form__item {

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					grid-column: span 2;
				}

				&:nth-child(4),
				&:nth-child(5) {
					grid-column: span 3;
				}
			}
		}

		&_arenda1 {
			grid-template-columns: 1fr 1fr 1fr;

			@media (max-width: toEm(800)) {
				grid-template-columns: auto;
			}
		}

		&_arenda2 {
			grid-template-columns: 1fr 1fr 1fr 1fr;

			@media (max-width: toEm(1080)) {
				grid-template-columns: 1fr 1fr;
			}

			@media (max-width:$mobileSmall) {
				grid-template-columns: auto;
			}
		}

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15);
		}
	}

	&__section {
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}

	}

	&__subtitle {
		font-weight: 600;
		line-height: 140%;
		color: $grayColor;
		@include adaptiveValue("font-size", 20, 18);
	}

	&__line {
		display: flex;

		gap: 40px;

		.form__item {

			&:last-child {
				position: relative;

				&::before {
					content: '-';
					position: absolute;
					top: 50%;
					transform: translate(0%, -50%);
					left: toRem(-25);

					color: $grayColor;
					font-size: toRem(16);
					font-weight: 500;
				}
			}
		}

	}

	&__item {
		width: 100%;


		&_text {
			/* остаётся на третьей строке */
			grid-column: 1 / -1;
		}

	}

	&__input {}


	&__error {}

	&__button {
		background: $terraсotаColor;
		margin: 0 auto;

		@include adaptiveValue("width", 278, 340);

		&.disable {
			opacity: 0.5;
		}
	}

	&__privacy {
		margin-top: toRem(60);

		text-align: center;

		a {
			color: $terraсotаColor;
		}
	}
}


//</FORM>

// <BUTTONS>
// Сниппет (HTML): btn
// @import "button";

// <INPUTS>
// Сниппет (HTML): inp
@import "input";

// <CHECK>
// Сниппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сниппет (HTML): opt
// @import "radio";

// <SELECT>
// Сниппет (HTML): sel
@import "select";

// <RATING>
// Сниппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сниппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сниппет (HTML):
// @import "range";

// <CALENDAR>
// Сниппет (HTML):
// @import "datepicker";