.section-60 {
  @include adaptiveValue("padding-top", 60, 30);
  @include adaptiveValue("padding-bottom", 60, 30);
}

.mb-30 {
  @include adaptiveValue("margin-bottom", 30, 15);
}

.mb-60 {
  @include adaptiveValue("margin-bottom", 60, 15);
}

.gap-30 {
  @include adaptiveValue("gap", 30, 15);
}

.btn {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: toRem(14) toRem(32);

  @include adaptiveValue("height", 70, 60);
  @include adaptiveValue("border-radius", 35, 30);

  span,
  .contact-button a {
    font-size: toRem(16);
    font-weight: 600;
    line-height: 150%;
    color: $whiteColor;

    @media (max-width:$mobile) {
      font-size: toRem(14);
    }
  }
}

.contact-button {
  background: $whiteColor;

  a {
    color: $mainColor;
  }

  svg {
    animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
  }
}

.cta-button {
  border: 2px solid $whiteColor;
}

.contact-button,
.cta-button {
  @include adaptiveValue("width", 306, 340);
}


.btn-primary,
.btn-secondary {
  @include adaptiveValue("width", 278, 340);
}

.intro .btn-primary {
  background: $mustardColor;
}


.intro .btn-secondary {
  background-color: $whiteColor;

  span {
    color: $mustardColor;
  }
}

.about .btn-primary {
  background: $terraсotаColor;
}

.about .btn-secondary {

  background: $grayBackColor;

  span {
    color: $terraсotаColor;
  }
}


.tenant .btn-primary,
.tenant .btn-secondary {
  @include adaptiveValue("width", 420, 340);
}

.tenant .btn-primary {
  background: $garkGreenColor;
}

.tenant .btn-secondary {
  span {
    color: $garkGreenColor;
  }
}

.zoning .btn-outline {
  border: 2px solid $mustardColor;

  @include adaptiveValue("width", 320, 340);

  span {
    color: $mustardColor;
  }
}



.title-h1,
.title-h2,
.title-h2-w {
  font-weight: 600;
  line-height: 120%;
  color: $mainColor;
  @include adaptiveValue("font-size", 48, 32);
}

.title-h2-w {
  color: $whiteColor;
}

.title-h2-form {
  font-weight: 600;
  line-height: 120%;
  color: $mainColor;
  @include adaptiveValue("font-size", 36, 24);
}


// Основной текст
.text,
// Основной текс с жирностью 500
.text-b,
// Текст плейсхолдера
.text-ph-b {
  font-size: toRem(16);
  font-weight: 400;
  line-height: 150%;
  color: $mainColor;

  @media (max-width:$mobile) {
    font-size: toRem(14);
  }
}

.text-b,
.text-ph-b {
  font-weight: 500;
}

.text-ph-b {
  color: $grayColor;
}



.swiper-button-prev,
.swiper-button-next {
  width: toRem(70);
  height: toRem(70);

  border-radius: 50%;
  background-color: $grayBackColor;

  @media (max-width:$mobile) {
    width: toRem(60);
    height: toRem(60);
  }
}


.about-btn.swiper-button-disabled {
  svg {
    path {
      stroke: $grayColor;
    }
  }
}

.about-btn {
  svg {
    path {
      stroke: $mustardColor;
    }
  }
}

.zoning-btn.swiper-button-disabled {
  svg {
    path {
      stroke: $grayColor;
    }
  }
}

.zoning-btn {
  svg {
    path {
      stroke: $terraсotаColor;
    }
  }
}

.gallery-btn.swiper-button-disabled {
  svg {
    path {
      stroke: $grayColor;
    }
  }
}

.gallery-btn {
  svg {
    path {
      stroke: $blueColor;
    }
  }
}

// Анимации

[anim-left-right] {
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all $animSpeed ease 0s;

  &._watcher-view {
    transform: none;
    opacity: 1;
  }
}

[anim-right-left] {
  transform: translate(100%, 0);
  opacity: 0;
  transition: all $animSpeed ease 0s;

  &._watcher-view {
    transform: none;
    opacity: 1;
  }
}

[anim-up-down] {
  transform: translate(toRem(0), toRem(30));
  opacity: 0;
  transition: all $animSpeed ease 0s;

  &._watcher-view {
    transform: none;
    opacity: 1;
  }
}

[anim-scale] {
  transform: scale(.9);
  opacity: 0;
  transition: all $animSpeed ease 0s;

  &._watcher-view {
    transform: scale(1);
    opacity: 1;
  }
}

[anim-scale-max] {
  transform: scale(.2);
  opacity: 0;
  transition: all 2s ease 0s;

  &._watcher-view {
    transform: scale(1);
    opacity: 0.05;
  }
}

[anim-scale-0] {
  transform: scale(.9);
  // opacity: 0;
  transition: all $animSpeed ease 0s;

  &._watcher-view {
    transform: scale(1);
    // opacity: 1;
  }
}

[delay10] {
  transition: all $animSpeed ease .1s;
}

[delay20] {
  transition: all $animSpeed ease .2s;
}

[delay30] {
  transition: all $animSpeed ease .3s;
}

[delay40] {
  transition: all $animSpeed ease .4s;
}

[delay50] {
  transition: all $animSpeed ease .5s;
}

[delay60] {
  transition: all $animSpeed ease .6s;
}

[delay70] {
  transition: all $animSpeed ease .7s;
}

[delay80] {
  transition: all $animSpeed ease .8s;
}

[delay120] {
  transition: all $animSpeed ease 1.2s;
}

@keyframes trambling-animation {

  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }

  10%,
  30% {
    transform: rotate(-10deg);
  }

  20%,
  40% {
    transform: rotate(10deg);
  }
}


@keyframes arrow {
  0% {
    transform: translate(-2px, -2px);
    /* верхний левый угол */
    // opacity: 0;
  }

  50% {
    transform: translate(5px, 5px);
    opacity: 1;
  }

  100% {
    transform: translate(-2px, -2px);
    /* нижний правый угол */
    // opacity: 0;
  }
}



@keyframes arrow-down {
  0% {
    transform: translate(0, 5px);
    // transform: translate(0, -2px);
    /* верхний левый угол */
    // opacity: 0;
  }

  50% {
    // transform: translate(0, 5px);
    transform: translate(0, -2px);
    opacity: 1;
  }

  100% {
    // transform: translate(0, -2px);
    transform: translate(0, 5px);
    /* нижний правый угол */
    // opacity: 0;
  }
}

.anim-arrow {
  svg {
    animation: arrow 2s linear infinite;
  }
}

.anim-down {
  svg {
    animation: arrow-down 2s linear infinite;
  }
}

.anim-scale {
  svg {
    animation: anim-scale 2s linear infinite;
  }
}

@keyframes anim-scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}