.btn {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  // border-radius: toRem(35);
  padding: toRem(14) toRem(32);

  @include adaptiveValue("height", 70, 60);
  @include adaptiveValue("border-radius", 35, 30);

  span,
  .contact-button a {
    font-size: toRem(16);
    font-weight: 600;
    line-height: 150%;
    color: $whiteColor;

    @media (max-width:$mobile) {
      font-size: toRem(14);
    }
  }
}

.contact-button {
  background: $whiteColor;

  a {
    color: $mainColor;
  }
}

.cta-button {
  border: 2px solid $whiteColor;
}

.contact-button,
.cta-button {
  @include adaptiveValue("width", 306, 340);
}

.btn-primary {
  background: $mustardColor;
  @include adaptiveValue("width", 278, 340);

  span {}
}


.btn-secondary {
  background-color: $whiteColor;
  @include adaptiveValue("width", 278, 340);


  span {
    color: $mustardColor;
  }
}















.title-h1,
.title-h2 {
  font-weight: 600;
  line-height: 120%;
  color: $mainColor;
  @include adaptiveValue("font-size", 48, 32);
}


// Основной текс
.text,
// Основной текс с жирностью 500
.text-b,
// Текст плейсхолдера
.text-ph-b {
  font-size: toRem(16);
  font-weight: 400;
  line-height: 150%;
  color: $mainColor;

  @media (max-width:$mobile) {
    font-size: toRem(14);
  }
}

.text-b,
.text-ph-b {
  font-weight: 500;
}

.text-ph-b {
  color: $grayColor;
}