.credit {
  padding-top: toRem(0);

  /* .credit__container */
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: $grayBackColor;

    @include adaptiveValue("padding-top", 64, 30);
    @include adaptiveValue("padding-left", 60, 10);
    @include adaptiveValue("border-radius", 35, 30);
    
    @media (max-width: toEm(1200)){
      @include adaptiveValue("padding-bottom", 20, 0);
    }

    @media (max-width:$mobile) {
      flex-direction: column;
    }
  }

  /* .credit__content */
  &__content {
    flex: 0 1 66%;
  }

  /* .credit__title */
  &__title {
    margin-bottom: toRem(15);
  }

  /* .credit__text */
  &__text {}

  &__media {
    @media (max-width: toEm(1700)) {
      margin-right: -10px;
    }

    @media (max-width:$mobile) {
      //  margin: 0 auto;
      margin-left: auto;
    }
  }

  /* .credit__image */
  &__image {
    max-width: 100%;
  }
}