.features {

  /* .features__items */
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


    @media (max-width:$tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: toEm(600)) {
      grid-template-columns: auto;
    }

    @media (max-width:$mobileSmall){
       gap: toRem(10); 
    }
  }

  /* .features__item */
  &__item {
    display: flex;
    align-items: center;
    min-height: toRem(108);

    background: $grayBackColor;
    @include adaptiveValue("border-radius", 35, 30);
    @include adaptiveValue("gap", 30, 15);
    @include adaptiveValue("padding", 30, 15);

    @media (max-width:$mobile) {
      min-height: toRem(20);
    }

    img {
      @include adaptiveValue("width", 48, 24);
    }

    p {
      line-height: 150%;

      @media (max-width:$mobile) {
        font-size: toRem(16);
      }
    }

  }
}
