.gallery {

  @include adaptiveValue("padding-top", 90, 15);
  @include adaptiveValue("padding-bottom", 130, 30);

  /* .gallery__wrapper */
  &__wrapper {
    position: relative;
  }

  /* .gallery__slide */
  &__slide {

    a,
    img {
      max-width: 100%;
    }
    img {
      @include adaptiveValue("border-radius", 35, 30);
    }

    @media (max-width:$mobile) {
      text-align: center;
    }
  }

  /* .gallery__slider-btn */
  &__slider-btn {
    display: flex;
    position: absolute;
    right: 0;
    gap: toRem(15);

    @media (max-width:$tablet) {
      display: flex;
      width: 100%;
      justify-content: space-between;
      top: 50%;
      padding-right: 10px;
      padding-left: 10px;
      transform: translate(0px, -50%);
      z-index: 100;
    }
  }
}