.intro {
  padding-top: toRem(190);
  @include adaptiveValue("padding-top", 190, 45);

  /* .intro__container */
  &__container {
    display: grid;
    grid-template-columns: 53% 1fr;
    // gap: toRem(14);
    // align-items: center;
    width: 100%;

    @media (max-width:$mobile) {
      grid-template-columns: auto;
    }
  }

  /* .intro__content */
  &__content {
    background: $grayBackColor;
    border-radius: toRem(35);

    margin-left: toRem(-60);


    display: flex;
    flex-direction: column;
    @include adaptiveValue("padding-top", 180, 10);
    @include adaptiveValue("padding-bottom", 180, 10);
    @include adaptiveValue("padding-left", 60, 10);
    // @include adaptiveValue("padding-right", 20, 10);

    @media (max-width:$mobile) {
      //  text-align: center; 
    }
  }

  /* .intro__title */
  &__title {
    margin-bottom: toRem(15);
    // max-width: toRem(908);
  }

  /* .intro__text */
  &__text {
    @include adaptiveValue("margin-bottom", 60, 30);
  }

  /* .intro__media */
  &__media {
    position: relative;
    width: 100%;
    right: calc(-15% - 50px);
    // height: 705px;
    // border-radius: 35px 0 0 35px;
    // overflow: hidden;

    @media (max-width: toEm(1195)) {
      margin: 0 auto;
      // right: calc(-7% - 50px);
    }

    @media (max-width:$mobile) {
      // right: 0;
      width: 100%;
      inset: 0;
      text-align: center;
      // position: static;
      grid-row: 1 / 2;
      // margin: 0 auto;

    }

    @media (max-width:$mobileSmall) {
      // margin: 0 auto;
    }


  }

  /* .intro__img */
  &__img {
    margin-left: -30px;
    margin-right: -30px;
    border-radius: 35px 0 0 35px;
    overflow: hidden;



    @media (max-width:$mobile) {
      border-radius: 0;
      width: 50%;
    }

    @media (max-width:$mobileSmall) {
      // display: block;
      // margin: 0 auto;
      margin-right: -50px;
      margin-left: -50px;
      width: 100%;

      height: toRem(300);
    }
  }
}

.title-h1 {}

.text-b {}

.hero {

  /* .hero__buttons */
  &__buttons {
    display: flex;
    gap: toRem(32);
  }
}

.btn {}

.btn-primary {}

.btn-secondary {}