.intro {
  padding-top: toRem(190);
  @include adaptiveValue("padding-top", 190, 45);

  /* .intro__container */
  &__container {
    display: grid;
    grid-template-columns: 60.5% 1fr;
    // gap: toRem(14);
    align-items: center;
    width: 100%;

    @media (max-width:$mobile) {
      grid-template-columns: auto;
    }
  }

  /* .intro__content */
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    background: $grayBackColor;
    border-radius: toRem(35);
    z-index: 100;
    @include adaptiveValue("padding-top", 180, 15);
    @include adaptiveValue("padding-bottom", 180, 60);
    @include adaptiveValue("padding-left", 60, 10);
    @include adaptiveValue("padding-right", 60, 10);


    @media (min-width:toEm(1700)) {
      transform: translate(-60px, 0px);
    }

    @media (max-width:$mobile) {
      margin-top: toRem(-30);
      margin-right: -10px;
      margin-left: -10px;
      border-radius: toRem(30) toRem(30) 0 0;
    }

    @media (max-width: toEm(600)) {}
  }



  /* .intro__title */
  &__title {
    margin-bottom: toRem(15);
  }

  /* .intro__text */
  &__text {
    @include adaptiveValue("margin-bottom", 60, 30);
  }

  /* .intro__media */
  &__media {
    position: relative;
    right: calc(5.7% - 50px);
    margin-right: -10px;
    margin-left: -10px;


    @media (min-width:$mobile) {
      width: 116%;
      border-radius: 35px 0 0 35px;
    }


    @media (max-width:$mobile) {
      inset: 0;
      grid-row: 1 / 2;
      text-align: center;
    }
  }

  /* .intro__img */
  &__img {
    overflow: hidden;

    @media (max-width:$mobile) {
      // max-height: toRem(500);
      width: 50%;
    }

    @media (max-width:$mobileSmall) {
      height: toRem(298);
    }

    @media (min-width:$mobile) {
      border-radius: toRem(35) 0 0 toRem(35);
    }

    @media (max-width: toEm(500)) {
      width: 100%;
    }
  }

  /* .hero__buttons */
  &__buttons {
    width: 100%;
    // justify-items: center;
    // align-items: center;
    display: flex;
    @include adaptiveValue("gap", 32, 15);

    @media (max-width: toEm(1140)) {
      flex-wrap: wrap;
    }

    @media (max-width:$mobile) {
      justify-content: center;
    }
  }
}


.area-text {
  position: absolute;
  right: -2%;
  bottom: -10%;
  opacity: .05;

  font-weight: 700;
  line-height: 120%;

  @include adaptiveValue("font-size", 180, 64);

  @media (max-width:$mobile) {
    right: 17%;
    bottom: -4%;
  }
}




.btn-primary {
  justify-items: center;
  align-items: center;
}