.partners {
  // overflow-x: hidden;
  white-space: nowrap;

  @include adaptiveValue("padding-bottom", 90, 0);

  /* .partners__items */
  &__items {
    // overflow-x: hidden;


    display: flex;
    align-items: center;
    padding-top: 33px;
  }

  &__group {
    display: flex;
    align-items: center;
    will-change: transform;

    @include adaptiveValue("gap", 60, 30);

    &_1 {
      animation: marquee1 20s infinite linear;
      animation-delay: -20s;
    }

    &_2 {
      animation: marquee2 20s infinite linear;
      animation-delay: -10s;
    }
  }

  /* .partners__img */
  &__img {
    white-space: nowrap;
    // max-width: 100%;

    @media (max-width:$mobile) {
      //  width: 62.5%; 
    }
  }
}


@keyframes marquee1 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
  }
}