// Подключение общих CSS-переменных
:root {


  //* Цвета
  --chernyy: #000;
  --seryy: #9d9c9f;
  --seryy-fon: #fafafc;
  --belyy: #fff;
  --siniy: #0177c3;
  --gorchichnyy: #d7a556;
  --temno-zelenyy: #41583e;
  --terrakotovyy: #9c3327;

  //* Вид шрифта
  --font-family: "Gilroy", sans-serif;
  --second-family: "Inter", sans-serif;
}