// Подключение общих CSS-переменных
:root {


  //* Цвета
  --black-color: #000;
  --gray-color: #9d9c9f;
  --gray-back-color: #fafafc;
  --white-color: #fff;
  --blue-color: #0177c3;
  --mustart-color: #d7a556;
  --dark-green-color: #41583e;
  --terraсotа-color: #9c3327;

  //* Вид шрифта
  --font-family: "Gilroy", sans-serif;
}