.tenant {
	padding-top: toRem(56);
	padding-bottom: toRem(60);

	&__wrapper {
		background: $grayBackColor;
	}

	/* .tenant__container */
	&__container {
		display: grid;
		align-items: center;
		grid-template-columns: 52% auto;
		justify-content: space-between;
		position: relative;

		@media (max-width:$tablet) {
			grid-template-columns: auto;
		}
	}

	/* .tenant__content */
	&__content {
		position: relative;
		@include adaptiveValue("padding-top", 72, 30);
		@include adaptiveValue("padding-bottom", 72, 30);
	}

	/* .tenant__title */
	&__title {
		margin-bottom: toRem(15);
	}

	/* .tenant__spoller */
	&__spoller {
		position: relative;

		.spollers {
			position: relative;
		}
	}

	/* .tenant__buttons */
	&__buttons {
		display: flex;
		justify-content: center;

		@media (max-width:$mobile) {
			flex-wrap: wrap;
		}
	}

	/* .tenant__media */
	&__media {
		overflow: hidden;
		position: relative;
		border-radius: toRem(30);
		margin-bottom: -30px;

		@media (min-width:$tablet) {
			border-radius: toRem(30) 0 0 toRem(30);
			right: calc(-9.3% - 50px);
			margin-top: -30px;
		}

		@media (max-width:$tablet) {
			justify-self: center;
			width: 50%;
		}

		@media (max-width:$mobile) {
			width: 65%;
		}

		@media (max-width: toEm(550)) {
			width: 100%;
		}


		@media (max-width:$mobileSmall) {
			margin-right: -10px;
			margin-left: -10px;
		}
	}

	/* .tenant__image */
	&__image {
		overflow: visible;
		z-index: 50;
	}

	/* .tenant__promo */
	&__promo {
		max-width: toRem(550);
		position: absolute;
		// bottom: toRem(60);
		left: toRem(30);
		z-index: 100;

		@include adaptiveValue("bottom", 60, 30);
		@include adaptiveValue("left", 60, 30);

		@media (max-width: em(1460)) {
			max-width: toRem(400);
		}

		@media (max-width: em(1110)) {
			max-width: toRem(360);
		}
	}
}

.spollers {

	/* .spollers__item */
	&__item {}

	/* .spollers__title */
	&__title {
		min-height: toRem(110);
		background-color: $whiteColor;
	}

	/* .spollers__body */
	&__body {}
}